# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE - JetBrains
.idea/

# Virtual environments
venv/
env/
ENV/

# Distribution / packaging
*.egg-info/
dist/
build/

# OS specific
.DS_Store
Thumbs.db
